
.border-box {
    border: solid 1px violet;
    margin: 30px;
    padding: 30px; 
}
body{
    background-color: black;
    color: crimson;
}
ol{
    color: yellow;
}
li{
    border: solid 1px ;
    margin: 20px;
    padding: 10px; 
}